<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/estilos.css">
</head>

<body>
    <h1>Alta de categorias de productos</h1>

    <form id="formulario-categorias">
        <label for="Nombre">Nombre de la categoria:</label>
        <input type="text" id="Nombre" name="Nombre" required>

        <label for="id">ID: </label>
        <input type="text" id="id" name="id" required>

        <label for="Descripcion">Descripción</label>
        <textarea id="Descripcion" name="Descripcion" rows="5"></textarea>

        <button type="submit">Guardar</button>
        <button type="button" class="cancel">Cancelar</button>
        
    </form>
    <div class="tag"> &copy; Daniel Costella</div>

    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    
    <script src="../../assets/js/validaciones.js"></script>


</body>
</html>